[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/mavap/Desktop/Drives]
row=0
col=1

[/home/mavap/Desktop/brave-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=0
col=11

[/home/mavap/Desktop/openSCAD_cheat_sheet.png]
row=4
col=0

[/home/mavap/Desktop/onlyoffice-bin]
row=2
col=0

[/home/mavap/Desktop/Sci-Fi]
row=1
col=0

[/home/mavap/Desktop/lgacfancy]
row=1
col=1

[/home/mavap/Desktop/WebPlotDigitizer-4.7-linux-x64]
row=3
col=0

[/home/mavap/Desktop/brave-faolnafnngnfdaknnbpnkhgohbobgegn-Default.desktop]
row=1
col=11

[/home/mavap/Desktop/latex support for neovim.pdf]
row=2
col=1

[/home/mavap/Desktop/full_vaps.png]
row=5
col=0

[/home/mavap/Desktop/steam.desktop]
row=3
col=1

[/home/mavap]
row=0
col=0

