layout {

    focus-ring {
        active-color   "#6bdec2"
        inactive-color "#0f1513"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#6bdec2"
        inactive-color "#0f1513"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#6bdec2"
        inactive-color "#4cc2a7"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#6bdec280"
    }
}
