layout {

    focus-ring {
        active-color   "#6798e4"
        inactive-color "#141c2a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6798e4"
        inactive-color "#141c2a"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#141c2a70"
    }

    tab-indicator {
        active-color   "#6798e4"
        inactive-color "#0c3e8d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6798e480"
    }
}

recent-windows {
    highlight {
        active-color "#6798e4"
        urgent-color "#fd4663"
    }
}
