layout {

    focus-ring {
        active-color   "#76e7af"
        inactive-color "#0a331f"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#76e7af"
        inactive-color "#0a331f"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#0a331f70"
    }

    tab-indicator {
        active-color   "#76e7af"
        inactive-color "#0d9e56"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#76e7af80"
    }
}

recent-windows {
    highlight {
        active-color "#76e7af"
        urgent-color "#fd4663"
    }
}
