layout {

    focus-ring {
        active-color   "#67a7e4"
        inactive-color "#111f2c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67a7e4"
        inactive-color "#111f2c"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#67a7e4"
        inactive-color "#144e85"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67a7e480"
    }
}

recent-windows {
    highlight {
        active-color "#67a7e4"
        urgent-color "#fd4663"
    }
}
