layout {

    focus-ring {
        active-color   "#4d89ff"
        inactive-color "#03163a"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#4d89ff"
        inactive-color "#03163a"
        urgent-color   "#fd4663"
    }


    tab-indicator {
        active-color   "#4d89ff"
        inactive-color "#00349a"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#4d89ff80"
    }
}

recent-windows {
    highlight {
        active-color "#4d89ff"
        urgent-color "#fd4663"
    }
}
