layout {

    focus-ring {
        active-color   "#e4678f"
        inactive-color "#29141b"
        urgent-color   "#a14361"
    }

    border {
        active-color   "#e4678f"
        inactive-color "#29141b"
        urgent-color   "#a14361"
    }

    shadow {
        color "#29141b70"
    }

    tab-indicator {
        active-color   "#e4678f"
        inactive-color "#8d0c35"
        urgent-color   "#a14361"
    }

    insert-hint {
        color "#e4678f80"
    }
}

recent-windows {
    highlight {
        active-color "#e4678f"
        urgent-color "#a14361"
    }
}
